/*clears defaults for all browers.*/
/*Allows universal compatibility*/
*,
*:before,
*:after{
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Pushes all left classes to left side of page*/
.left{
	float: left;
}

/*Pushes all right classes to right side of page*/
.right{
	float: right;
}
/*The whole body class*/
.contain{
	width: 960px;
	margin: 0px auto;
}
/*clear child elements. Allows elements to be stacked horizontally */
.clearfix{
	display: table;
	content: " ";
	clear: both;
}
/*Box effect for all box classes*/
.box{
	margin: 5px;
	color: #000;
	border: solid;
	background: rgba(255, 255, 255, .75);
	/*top bottom left right, symmetrical, so also top and bottotm,
	left and right if 2 values, all 4 if one value */
	/*curves borders*/
	-webkit-border-radius: 15px;
	border-radius: 15px;
	/*adds black shadow to borders*/
	-webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,.9);
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,.9);
	margin-top: 9px;
}
/*splits top boxes across screen*/
.half{
	width: 460px;
	margin: 0px auto;
}
/*Elements now in horizontal display*/
nav ul li{
	display: inline-block;
	margin-right: 10px;
	text-decoration-style: none;
}
/*link effects*/
a:link, a:visited{
	color: green;
}

/*link effects*/
a:hover, a:active{
	color: black;
}

nav{
	height: 95px;
}

/*Sets Welcome to CAV title height*/
.titleheight{
	height: 95px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
