doctype html
html
  head
    meta(charset='utf-8')
    // Link to css style sheet
    link(rel='stylesheet', href='/stylesheets/account.css')
    title CAV Home
  body.contain
    .clearfix
      .box.half.titleheight.left
        h1 Welcome to CAV
      nav.box.half.right
        ul
          li(style='margin-left: 3px;')
            a(href='search') Search
          li
            a(href='#') Create Account
          li(style='margin-right: 3px;')
            a(href='account') Account
          li(style='margin-left: 3px;')
            a(href='/') Home
    footer.box
      h2 This is our footer
