doctype html
html
  head
    meta(charset='utf-8')
    // Link to css style sheet
    link(rel='stylesheet', type='text/css', href='/stylesheets/createAcc.css')
    // Linking favicon
    link(type='image/x-icon', href='public/images/favicon.ico', rel='shortcut icon')
    title CAV Home
  body.contain
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='/javascripts/global.js')
    .clearfix
      .box.half.titleheight.left
        h1 Welcome to CAV
      nav.box.half.right
        ul
          li(style='margin-left: 3px;')
            button#Home(onclick="location.href='/'") Home
          li(style='margin-left: 3px;')
            button#Search(onclick="location.href='search'") Search
          li(style='margin-left: 3px;')
            button#CreateAccount(onclick="location.href='createAcc'") Create Account
          li(style='margin-left: 3px;')
            button#Account(onclick="location.href='account'") Account
          li(style='margin-left: 3px;')
              button#Login(onclick="location.href='login'") Login
      .box.create
        #create-account
          fieldset
            legend Create Account
            p * Required Fields
            label(for='username') Username * :
            input#username(type='text', name='username', maxlength='20')
            label(for='fullname') Full Name :
            input#fullname(type='text', name='fullname', maxlength='40')
            label(for='password') Password * :
            input#password(type='password', name='password', maxlength='30')
            button#btnSubmit Submit
    footer.box
      h2 This is our footer
